## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
a = 121
print(f"La variable es igual a = {a}")

La variable es igual a = 121

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
# pasamos el float para ver su tipo
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
name = 'Octavio'

5) Crear una variable que contenga un número complejo

In [8]:
var_complex = 1 + 4j
print(var_complex)

(1+4j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
print(type(var_complex))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
pi_f = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [21]:
var_true =  True
var_true_str =  "True"

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [23]:
print(type(var_true))
print(type(var_true_str))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [24]:
var3 = 10 + 10.25
print (var3)
print (type (var3))

20.25
<class 'float'>

11) Realizar una operación de suma de números complejos

In [27]:
a1 = 2j
a2 = 1+5j
print (type(a1 + a2))
print (a1 + a2)

<class 'complex'>
(1+7j)

12) Realizar una operación de suma de un número real y otro complejo

In [28]:
a1 = 2.34
a2 = 1+5j
print (a1 + a2)

(3.34+5j)

13) Realizar una operación de multiplicación

In [29]:
a1 = 2.34
a2 = 3
print (a1 * a2)

7.02

14) Mostrar el resultado de elevar 2 a la octava potencia

In [30]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [32]:
a = 27/4
print (a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [34]:
a = 27//4
print (a)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [35]:
a = 27%4
print (a)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [2]:
## 4 lo da el enunciado, 6 es el entero de ladivicion, mas 3 del residuo
4 * 6 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [37]:
str1 = "Monterrey, "
str2 = "Nuevo Leon"
print(str1 + str2)

Monterrey, Nuevo Leon

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [38]:
2 == "2"
#porque no se puede comparar str con int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [40]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [43]:
a = float('3,8')
# porque no puede convertir la , a float?????

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [54]:
a = -3
a -= 1
print(a)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [56]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [57]:
str(2) + str('2')

'22'

In [25]:
float(2) + float('2')

4.0

In [58]:
int(2) + int('2')

4

In [59]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [62]:
var1 = 'este texto se repite '
var2 = 2
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite 2 veces