## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [78]:
lis = ["Monterrey", "Buenos Aires",'Montevideo', "Londres","Madrid","Ciudad de Mexico","Bogota", "Lima",'Brasilia','Asunción','Montevideo','Santiago','Caracas']
print(lis)

['Monterrey', 'Buenos Aires', 'Montevideo', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Lima', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas']

2) Imprimir por pantalla el segundo elemento de la lista

In [19]:
## los indices empiezan por 2?
print(lis[1])

Buenos Aires

3) Imprimir por pantalla del segundo al cuarto elemento

In [20]:
print(lis[1:4])

['Buenos Aires', 'Paris', 'Londres']

4) Visualizar el tipo de dato de la lista

In [21]:
print (type(lis))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [22]:
print(lis[1:])

['Buenos Aires', 'Paris', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Lima', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas']

6) Visualizar los primeros 4 elementos de la lista

In [23]:
print(lis[:4])

['Monterrey', 'Buenos Aires', 'Paris', 'Londres']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [33]:
lis.append("Jamaica")
lis.append("Lima")
print(lis)

['Monterrey', 'Buenos Aires', 'Paris', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Lima', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas', 'Jamaica', 'Lima']

['Buenos Aires', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Lima', 'Caracas', 'Bogotá', 'Ciudad de Méjico', 'Montevideo']

8) Agregar otra ciudad, pero en la cuarta posición

In [34]:
lis.insert(3,"Guadalupe")
print (lis)

['Monterrey', 'Buenos Aires', 'Paris', 'Guadalupe', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Lima', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas', 'Jamaica', 'Lima']

['Buenos Aires', 'Brasilia', 'Asunción', 'Quito', 'Montevideo', 'Santiago', 'Lima', 'Caracas', 'Bogotá', 'Ciudad de Méjico', 'Montevideo']

9) Concatenar otra lista a la ya creada

In [35]:
lis.extend(["Chihuahua","Moro leon","Santa Catarina"])
print(lis)

['Monterrey', 'Buenos Aires', 'Paris', 'Guadalupe', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Lima', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas', 'Jamaica', 'Lima', 'Chihuahua', 'Moro leon', 'Santa Catarina']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [36]:
print(lis.index('Lima'))

8

11) ¿Qué pasa si se busca un elemento que no existe?

In [38]:
print(lis.index('Escobedo'))

ValueError: 'Escobedo' is not in list

12) Eliminar un elemento de la lista

In [39]:
lis.remove("Lima")

In [40]:
print(lis)

['Monterrey', 'Buenos Aires', 'Paris', 'Guadalupe', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas', 'Jamaica', 'Lima', 'Chihuahua', 'Moro leon', 'Santa Catarina']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [41]:
lis.remove("Cordoba")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [42]:
here_last = lis.pop()
print(here_last)

Santa Catarina

15) Mostrar la lista multiplicada por 4

In [46]:
print (lis * 4)

['Monterrey', 'Buenos Aires', 'Paris', 'Guadalupe', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas', 'Jamaica', 'Lima', 'Chihuahua', 'Moro leon', 'Monterrey', 'Buenos Aires', 'Paris', 'Guadalupe', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas', 'Jamaica', 'Lima', 'Chihuahua', 'Moro leon', 'Monterrey', 'Buenos Aires', 'Paris', 'Guadalupe', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas', 'Jamaica', 'Lima', 'Chihuahua', 'Moro leon', 'Monterrey', 'Buenos Aires', 'Paris', 'Guadalupe', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas', 'Jamaica', 'Lima', 'Chihuahua', 'Moro leon']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [81]:
tup = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(tup)
print (type(tup))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

17) Imprimir desde el índice 10 al 15 de la tupla

In [52]:
print(tup[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [54]:
print (10 in tup)
print (30 in tup)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [65]:

var_paris_index = lis.index("Paris")
if(var_paris_index > 0):
    print (f"Paris existe en la lista en el index {var_paris_index}")

Paris existe en la lista en el index 2

In [75]:
ciudad = 'Paris'
if (ciudad in lis):
    print('El elemento', ciudad, 'ya existía')
else:
    lis.append(ciudad)
    print('Se insertó el elemento', ciudad)

print(lis)

El elemento Paris ya existía
['Monterrey', 'Buenos Aires', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Lima', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [79]:
print(tup.count(10))
print(lis.count('Montevideo'))

1
2

21) Convertir la tupla en una lista

In [82]:
print (tup)
tup = list(tup)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
<class 'list'>

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [86]:
v1, v2, v3, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ = tup
print(v1)
print(v2)
print(v3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [87]:
dicc = {  'Ciudad': lis, 
'País': ['Brasil','Paraguay','Ecuador','Uruguay','Chile','Perú','Venezuela','Colombia','Méjico','Uruguay','España','Italia','Francia'], 
'Continente' : ['América','América','América','América','América','América','América','América','América','América','Europa','Europa','Europa']}

In [88]:
print (dicc)

{'Ciudad': ['Monterrey', 'Buenos Aires', 'Montevideo', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Lima', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas'], 'País': ['Brasil', 'Paraguay', 'Ecuador', 'Uruguay', 'Chile', 'Perú', 'Venezuela', 'Colombia', 'Méjico', 'Uruguay', 'España', 'Italia', 'Francia'], 'Continente': ['América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'Europa', 'Europa', 'Europa']}

24) Imprimir las claves del diccionario

In [89]:
print(dicc.keys())

dict_keys(['Ciudad', 'País', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [90]:
print(dicc['Ciudad'])

['Monterrey', 'Buenos Aires', 'Montevideo', 'Londres', 'Madrid', 'Ciudad de Mexico', 'Bogota', 'Lima', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Caracas']